name: Count Lines of Code

# Trigger the workflow on every push to the main branch
on:
  push:
    branches: [ master ]

jobs:
  cloc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Count Lines of Code (cloc)
        uses: djdefi/cloc-action@6
        with:
          args: "game engine" 
